<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/style.css" rel="stylesheet" />
    <title>Employee Sign Up Form</title>
</head>
<body>
    <div class="signup-form LogIn">
        <h1> Attendance </h1>
            <button class="btn" id="btnAttendence">ATTENDENCE</button>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $("#btnAttendence").click(function () {
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: "/Home/SaveAttendance",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                alert(response);
            },
            error: function (response) {
                alert("Error while Log in the Application");
            }
        });
    });
</script>